*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000; 
}
.wrapper{
   width: 100%;
   max-width: 350px;
   height:450px;
   background-color: #000;
   box-shadow:0 0 50px #0ef;
   border-radius: 20px;
   padding: 40px;
   position:relative;
   overflow:hidden;
}
form{
  width: 95%;
}

.wrapper:hover{
  animation: animate 1s linear infinite;
}
@keyframes animate{
  100%{
    filter: hue-rotate(360deg);
  }
}

.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
}

.wrapper.active .form-wrapper.sign-in{
  transform: translateY(-450px);
}
.wrapper .form-wrapper.sign-Up{
  position:absolute;
  top: 0px;
  left: 0;
}
.wrapper.active .form-wrapper.sign-up{
  transform: translateY(-450px);
}
#form2{
  margin-top: 100px;
}

h2{
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-top: 50px;
}
.input-group{
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid white;
}
.input-group label{
  position:absolute;
  top: 50%;
  left: 1%;
  transform:translateY(-50%);
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.input-group input{
  width: 320px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0px 5px;
  background:transparent ;
  border: none;
  outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label{
  top: -5px ;
}

.remember{
  margin: -5px 0 15px 5px;
}
.remember label{
  font-size: 14px;
  color: #fff;
}
.remember label input{
  accent-color: #0ef;
  padding:5px;
  margin:2px;
}
button{
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #0ef;
  box-shadow: 0 0 10px #0ef;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  outline: none;   
}
  
.signUp-link{
  font-size: 14px;
  text-align: center;
  margin: 15px 0;
}
.signUp-link p{
  color: #fff;
}
.signUp-link p a{
  color: #0ef;
  text-decoration: none;
  font-weight: 500;
}
.signUp-link p a:hover{
  text-decoration: underline;
} 

/* Responsive */
@media  (max-width: 500px) {

  .wrapper{
    width:90%;
    max-width: 300px;
    height: 450px;
  }
  .form-wrapper.sign-in{
    margin-bottom: 60px; 
    margin-top: -10px;
  }
  .input-group input{
    width: 90%;
  }
  .signUp-link{
    font-size:12px;
  } 
  h2{
    margin-top: 80px;
    margin-bottom: -10px;
  }
  #form2{
    margin-top: 5px;
  }
  div .remember label{
    font-size: 12px;
  }
}

